<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MapleRobots.Properties.Settings.MapleRobotsConnectionString"
            connectionString="Data Source=MapleRobots.no-ip.org;Initial Catalog=MapleRobots;Persist Security Info=True;User ID=sa;Password=bstking9g6k"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <runtime>
        <legacyCorruptedStateExceptionsPolicy enabled="true"/>
    </runtime>
</configuration>
